body {
    font-family: cursive, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}

main {
    padding: 16px;
}

footer {
    padding: 10px;
    background-color: blue
}

img {
    height: 200px;
}

nav {
    background-color: green;
    border: 1px black;
    padding: 16px;
}

.recipe-list-item:hover {
    box-shadow: 0 5px 10px 5px rgba(red, green, blue, alpha)
}

.recipe-list-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.is-yellow {
    color: yellow;
}

.is-aquamarine {
    color: aquamarine;
}

.is-olive {
    color: olivedrab;
}

.is-pink {
    color: pink
}

.is-brown {
    color: brown
}

.is-violet {
    color: violet
}
